#app > .layouts.content
  > .main
    min-height 100%
    background url('/img/bg-grid.png')
    justify-content space-between
    display flex
    flex-grow 1
    width 100%
    flex-direction column
    flex-wrap nowrap
    position relative
