#app > .layouts.error
  > .main
    > article
      text-align center
      background-color white
      width 100%
      box-sizing border-box
      padding 40px 10px 60px 10px
      margin 80px auto
      > h1
        font-size 72px
        margin 0
