#app > .layout.landing
	min-height 100%
	background url('../img/bg.png')

	> header
		text-align center
		padding 0 0 30px 0

		> h1
			font-size 80px
			letter-spacing -4px
			padding 100px 0 0 0
			margin 0

			> i
				font-style normal
				text-transform uppercase
				font-weight 100
				margin-right 7px
				letter-spacing -6px

			> b
				font-weight 700
				text-transform lowercase

		> p
			margin 10px 20px 0 20px

		> form
			margin 50px 0 0 0

			> button
				width 320px
				height 80px
				border-radius 5px
				box-shadow 2px 2px white
				background linear-gradient(top, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05)), white
				border 1px solid #dddddd
				padding 0 0 0 0

				&:hover
					background linear-gradient(top, rgba(255, 255, 255, 0.10), rgba(0, 0, 0, 0.10)), white

				&:active
					color white
					background linear-gradient(top, #555, #aaa)

				&.github

					> b
						font-weight 700
