#app > .layouts.landing
  > .main
    > .zoom
      > .stickies
        list-style-type none
    > article
      text-align center
      background-color rgba(255, 255, 255, 0.8)
      width 100%
      box-sizing border-box
      padding 40px 10px 60px 10px
      margin 80px auto 20px auto
      z-index 1
      > h1
        font-size 72px
        margin 0
        > .logotype
          font-family 'Roboto Slab', serif
          > i
            font-weight 300
            font-style normal
            text-transform capitalize
          > b
            font-weight 700
            text-transform lowercase
      > .tagline
        color #333333
        font-weight 400
        font-size 28px
        margin 10px 0 0 0
      > p
        //
      > .gotowall
        margin-top 20px
