#app > .layouts.nav
  min-height 100%
  display flex
  flex-flow column nowrap
  align-items center

  > header
    height 48px
    flex-grow 0

  > article
    flex-grow 0

  > footer
    flex-grow 0
