#app > .layout.nav
	min-height 100%
	display flex
	flex-flow column nowrap

	> header
		height 48px
		flex-grow 0

	> article
		height 100%
		flex-grow 1
		overflow hidden
		background black

	> footer
		height 0
		flex-grow 0
