#app > .layouts.repository
  align-items stretch

  .viewport
    flex-grow 1
    display flex
    overflow hidden
    // width 500px
    // height 500px
    // max-width 500px
    // max-height 500px
    // margin 100px auto
