<section class="navigation chooser">
	<ol class="organizations">
		<li class="recent">
			<a>
				<img src="/img/icn-star.png">
				<label>Recent</label>
			</a>
		</li>
		<li>
			<a href="/dannylimanseta">
				<img src="https://1.gravatar.com/avatar/ac4ae121231fe42fa1fcbf28c66ded3b?d=https%3A%2F%2Fidenticons.github.com%2Fa260003c8dc411cd33b4463aaed5274c.png&s=420" />
				<label>dannylimanseta</label>
			</a>
		</li>
		<li>
			<a href="/redmart">
				<img src="https://0.gravatar.com/avatar/810dfe16558607fe66640aa7d6fe3509?d=https%3A%2F%2Fidenticons.github.com%2F5d6a026575088f2df650d717adeaaa96.png&s=420" />
				<label>RedMart</label>
			</a>
		</li>
		<li>
			<a href="/cofounders">
				<img src="https://2.gravatar.com/avatar/2ff120dd2b6d5530897ff3297d93225e?d=https%3A%2F%2Fidenticons.github.com%2F8ca578665f7cb3fcf9ba8658e961e9e2.png&s=420" />
				<label>Cofounders</label>
			</a>
		</li>
	</ol>
	<ol class="repositories">
		<li>
			<a href="/redmart/golden-grocer">
				<img src="/img/preview-tile.jpg" />
				<label>Golden Grocer</label>
				<span>1 hour ago</span>
			</a>
		</li>
		<li>
			<a href="/dannylimanseta/Jotterbook">
				<img src="/img/preview-tile.jpg" />
				<label>Jotterbook</label>
				<span>2 days ago</span>
			</a>
		</li>
		<li>
			<a href="/cbas/opensourceproject">
				<img src="/img/preview-tile.jpg" />
				<label>Open Source Project</label>
				<span>8 days ago</span>
			</a>
		</li>
		<li>
			<a href="/querily/querily">
				<img src="/img/preview-tile.jpg" />
				<label>Querily</label>
				<span>14 days ago</span>
			</a>
		</li>
		<li class="add">
			<button>Add a repository</button>
		</li>
	</ol>
</section>
