<section class="navigation chooser">
	<ol class="organizations">
		<li class="recent">
			<a>
				<img src="/img/icn-star.png">
				<label>Recent</label>
			</a>
		</li>
		<li>
			<a href="/dannylimanseta">
				<img src="danny.png" />
				<label>dannylimanseta</label>
			</a>
		</li>
		<li>
			<a href="/redmart">
				<img src="redmart.png" />
				<label>RedMart</label>
			</a>
		</li>
		<li>
			<a href="/cofounders">
				<img src="cofounders.png" />
				<label>Cofounders</label>
			</a>
		</li>
	</ol>
	<ol class="repositories">
		<li>
			<img src="preview.png" />
			<label>Golden Grocer</label>
			<span>1 hour ago</span>
		</li>
		<li>
			<img src="preview.png" />
			<label>Jotterbook</label>
			<span>2 days ago</span>
		</li>
		<li>
			<img src="preview.png" />
			<label>Open Source Project</label>
			<span>8 days ago</span>
		</li>
		<li>
			<img src="preview.png" />
			<label>Querily</label>
			<span>14 days ago</span>
		</li>
		<li class="add">Add a repository</li>
	</ol>
</section>
