.billing.free
  box-sizing border-box
  width 100%
  padding 80px 10px
  background white
  > *
    max-width 960px
    margin-right auto
    margin-left auto
  > h1
    margin 20px auto
    text-align center
  > p
    font-size 18px
    text-align left
