<div class="billing plans">
  <h1>
    {{#if interactive}}
    Choose a plan for
    <label>
      <select class="owner">
        {{#each owners}}
        {{#if active}}
        <option value="{{owner}}" selected>{{owner}}</option>
        {{else}}
        <option value="{{owner}}">{{owner}}</option>
        {{/if}}
        {{/each}}
      </select>
    </label>
    {{else}}
    Plans & Pricing
    {{/if}}
  </h1>
  <p class="intro">
    All plans are tied to a single GitHub organization and include <b>unlimited private repositories</b>.<br />
    Get <b>2 months free</b> with any yearly subscription.
  </p>
  <table>
    <tbody>
      <tr class="{{#if unpaid}}active{{/if}}">
        <th>Open Source</th>
        <td>
          <span class="quantity">&infin;</span>
          <span class="unit">active users per month</span>
        </td>
        <td colspan="2" class="{{#if unpaid}}active{{/if}}">
          {{#if interactive}}
          <button data-plan="0">
          {{else}}
          <button data-plan="0" disabled>
          {{/if}}
            {{#if downgrade}}
            <span class="downgrade">Downgrade to Free</span>
            {{else}}
            <span class="free">Free forever</span>
            {{/if}}
            <span class="warning">Unlimited for public repositories</span>
          </button>
        </td>
      </tr>

      {{#each tiers}}
      <tr class="{{#if active}}active{{/if}}">
        <th>{{name}}</th>
        <td>
          <span class="quantity">{{quantity}}</span>
          <span class="unit">active users per month</span>
        </td>
        {{#with monthly}}
        <td class="monthly {{#if active}}active{{/if}}">
          {{#if ../../interactive}}
          <button data-plan="{{plan}}">
          {{else}}
          <button data-plan="{{plan}}" disabled>
          {{/if}}
            <span class="total">{{$ total}} per month</span>
            <span class="rate">= {{$ rate}} per user</span>
          </button>
        </td>
        {{/with}}
        {{#with yearly}}
        <td class="yearly {{#if active}}active{{/if}}">
          {{#if ../../interactive}}
          <button data-plan="{{plan}}">
          {{else}}
          <button data-plan="{{plan}}" disabled>
          {{/if}}
            <span class="total">{{$ total}} per year</span>
            <span class="savings">save {{$ savings}}</span>
          </button>
        </td>
        {{/with}}
      </tr>
      {{/each}}

    </tbody>
  </table>
  <p class="contact">Need more users? Email <a href="mailto:drywall@cf.sg">drywall@cf.sg</a> for that human touch.</p>
</div>
