<li class="stickies stickie">
  <section class="card">
    <header>
      <a href="{{html_url}}" class="number">#{{number}}</a>
      <label class="state">
        {{#ifCond state '===' 'closed'}}
        <input type="checkbox" checked />
        {{else}}
        <input type="checkbox" />
        {{/ifCond}}
        <span class="marker"></span>
      </label>
    </header>
    <article>
      <textarea class="title hidden">{{title}}</textarea>
      <div class="title">{{title}}</div>
    </article>
    <footer>
      {{#if milestone}}
      <a href="https://github.com/{{owner}}/{{repository}}/milestones/{{milestone.title}}" class="milestone">{{milestone.title}}</a>
      {{/if}}
      {{#if comments}}
      <a href="https://github.com/{{owner}}/{{repository}}/issues/{{number}}" class="comments">{{comments}}</a>
      {{/if}}
    </footer>
  </section>
</li>
