<form class="gotowall navigator">
  <span class="host">{{host}}</span>
  <span class="segment">
    <span class="divider">/</span>
    <label class="owner">
      <input list="owner" placeholder="GitHub username" required />
      <datalist id="owner"></datalist>
    </label>
  </span>
  <span class="segment">
    <span class="divider">/</span>
    <label class="repository">
      <input list="repository" placeholder="GitHub repository" required />
      <datalist id="repository"></datalist>
    </label>
  </span>
  <span class="control">
    <button type="submit">Show My Wall</button>
  </span>
  {{#if lastVisitedWalls}}
  Last Visited:
  <ul>
    {{#each lastVisitedWalls}}
    <li><a href="{{repo}}">{{repo}}</a></li>
    {{/each}}
  </ul>
  {{/if}}
</form>
