.wall.controls

  .scale
    z-index 100000
    position absolute
    bottom 8px
    right 10px
    transition-duration 0.25s
    transition-delay 0
    transition-timing-function ease-in-out
    transition-property opacity

#app.wall-draggable-moving .wall.controls
  .scale
    opacity 0
    transition-delay 0.5s
