.wall.draggable
  background-color black
  flex auto
  position relative

  .draggablescreen
    position absolute
    background-color transparent
    // border: 2px solid black;
    transition all 0.2s ease-in-out
    width 100%
    height 100%
    cursor grab !important
    cursor -moz-grab !important
    cursor -webkit-grab !important
    &:active
      cursor grabbing !important
      cursor -moz-grabbing !important
      cursor -webkit-grabbing !important

  .grid
    position absolute
    background url('/img/bg-grid.png')
    width 100%
    height 100%

  .zoom
    transition transform 0.2s ease-in-out

  .stickies
    list-style-type none
    overflow visible
    padding 0
    margin 0
    position relative
