.wall.draggable
  background-color black
  flex auto
  position relative

  .zoom
    // transform scale(0.5)
    transition transform 0.2s ease-in-out

  .anchor
    position relative

  .grid
    background-color #ffa
    position absolute
    background url('/img/bg-grid.png')
    transition all 0.2s ease-in-out

  .stickies
    list-style-type none
    overflow visible
    padding 0
    margin 0
    position relative
