.wall.draggable
  //background-color black
  flex auto
  position relative

  .zoom
    // transform scale(0.5)
    transition transform 0.2s ease-in-out

  .anchor
    position relative

  .grid
    position absolute
    background-color transparent
    // border: 2px solid black;
    transition all 0.2s ease-in-out
    width 100%
    height 100%

  .stickies
    list-style-type none
    overflow visible
    padding 0
    margin 0
    position relative

.draggable
  background url('/img/bg-grid.png')
