<section class="layouts nav content about">
  <header></header>
  <aside></aside>
  <section class="main">
    <article>
      <h1>The Story of Drywall</h1>
      <p>Once upon a time, at <a href="http://www.cofounders.sg">Cofounders</a>, a merry band of startup hackers and designers in Singapore, Drywall was invented to visualise software complexity.</p>
      <p>The Cofounders team helped those in need of software product design & development using Post-it notes, Sharpie pens, Blu-Tack, and other stationary shop essentials.</p>
      <p>Tired of digitising walls full of Post-it notes, Drywall was created as a project management tool for GitHub Issues.</p>
      <figure>
        <iframe width="853" height="480" src="//www.youtube-nocookie.com/embed/N_siLtiesC8?rel=0" frameborder="0" allowfullscreen></iframe>
        <figcaption>Drywall for Drywall, <abbr title="Circa (from Latin, meaning &quot;around, about&quot;)">c.</abbr>&thinsp;2013</figcaption>
      </figure>
      <h2>The Team</h2>
      <ul>
        <li>
          <img class="pic" src="https://avatars.githubusercontent.com/u/2819448?v=2&s=200" alt="Gravatar" />
          <span class="name">Alyssa Quek</span>
          <span class="role">Master Builder</span>
          <a class="github" href="https://github.com/alyssaq">alyssaq</a>
        </li>
        <li>
          <img class="pic" src="https://avatars.githubusercontent.com/u/78718?v=2&s=200" alt="Gravatar" />
          <span class="name">Sebastiaan Deckers</span>
          <span class="role">Stuccodore</span>
          <a class="github" href="https://github.com/cbas">cbas</a>
        </li>
        <li>
          <img class="pic" src="https://avatars.githubusercontent.com/u/1129800?v=2&s=200" alt="Gravatar" />
          <span class="name">Veronica Ng</span>
          <span class="role">L'artiste</span>
          <a class="github" href="https://github.com/veronism">veronism</a>
        </li>
      </ul>
      <h2>Contact</h2>
      <p class="contact">
        <a href="mailto:hello@drywall.io">hello@drywall.io</a>
      </p>
    </article>
    <footer></footer>
  </section>
</section>
