<section class="layouts nav content landing">
  <section class="main">
    <header></header>
    <article>
      <h1><span class="logotype"><i>Dry</i><b>wall</b></span></h1>
      <p class="tagline">GitHub Issues as stickies on a wall.</p>
      <ul>
        <li>Manage tasks, bugs, and features. <b>Just pan, zoom, and drag.</b></li>
        <li>Set up a <b>live spectator view</b> for your team. Finally an excuse to buy that 4K TV.</li>
        <li><b>Fully responsive.</b> Mouse or touch, any screen size.</li>
        <li><a href="http://www.youtube.com/watch?v=xNqs_S-zEBY">Elon Musk</a> has his fancy product design tools, you need yours.</li>
      </ul>
      <div class="sign-in"></div>
    </article>
    <footer></footer>
  </section>
  <aside></aside>
</section>
