<section class="layouts nav landing">
  <header></header>
  <article class="pitch">
    <h1><span class="logotype"><i>Dry</i><b>wall</b></span></h1>
    <p class="tagline">GitHub Issues as stickies on a wall.</p>
    <ul>
      <li>Manage tasks, bugs, and features. <b>Just pan, zoom, and drag.</b></li>
      <li>Set up a <b>live spectator view</b> for your team. Finally an excuse to buy that 4K TV.</li>
      <li><b>Fully responsive.</b> Mouse or touch, any screen size.</li>
      <li><a href="http://www.youtube.com/watch?v=xNqs_S-zEBY">Elon Musk</a> has his fancy product design tools, you need yours.</li>
    </ul>
    <form class="signin">
      <button type="submit" class="github">
        <span class="action">Sign in with <b>GitHub</b></span>
        <span class="description">Free forever for open source repositories</span>
      </button>
    </form>
  </article>
  <footer>
    <p class="logotype"><i>Dry</i><b>wall</b></p>
    <p class="copyright">Copyright &copy; Drywall Contributors</p>
    <p class="references">
      <a href="/site/tos">Terms of Service</a>
      <a href="/site/privacy">Privacy Policy</a>
    </p>
  </footer>
</section>
