.navigation.account
  background-image url('/img/github.svg')
  background-size 50px
  background-position 10px center
  background-repeat no-repeat
  max-width 320px
  height 53px
  box-sizing border-box
  background-color #74448E
  border-color #5A2876
  border-style solid
  border-width 0 0 3px 0
  padding 0 20px 0 70px
  text-align left
  color white
  font-family 'Roboto Slab', serif
  font-size 14px
  font-weight 400
