.navigation.account
  padding 0 7px 0 0
  display flex
  align-items center
  height 100%

  > .user
    color #333
    font-size 14px
    text-decoration none
    vertical-align top
    height 35px
    border 1px solid #ddd
    border-right-width 0
    box-shadow 1px 1px 1px 0 #fff
    background-image linear-gradient(to bottom, white, darken(white, 5%))
    border-radius 4px 0 0 4px
    box-sizing border-box
    display inline-block

    > img
      height 29px
      width 29px
      margin 2px
      vertical-align top
      background-color white

    > .name
      vertical-align top
      display inline-block
      height 100%
      box-sizing border-box
      padding 6px 26px 0 12px

  > .signout
    appearance none
    font-size 0
    width 42px
    vertical-align top
    height 35px
    border 1px solid #ddd
    box-shadow 1px 1px 1px 0 #fff
    background-image url('/img/icn-logout.png'),
      linear-gradient(to bottom, white, darken(white, 5%))
    background-repeat no-repeat
    background-position center
    border-radius 0 4px 4px 0
    box-sizing border-box
    display inline-block

  > .signin
    padding 0 26px
    font-size 14px
    height 35px
    border 1px solid #ddd
    box-shadow 1px 1px 1px 0 #fff
    background-image linear-gradient(to bottom, white, darken(white, 5%))
    border-radius 4px
    box-sizing border-box
