.navigation.breadcrumbs
	margin 0
	padding 0
	vertical-align top
	display inline-block
	height 100%

	> li
		display inline-block
		height 100%

		> a
			display inline-block
			height 100%
			color #333
			font-size 14px
			font-weight 100
			text-decoration none
			padding 14px 50px 0 55px
			box-sizing border-box
			background top left no-repeat url('/img/bar-arrow.png')
