.navigation.chooser
	display flex

	> *
		display block
		vertical-align top
		padding 0
		margin 0

	> .organizations
		flex none
		width 333px
		background-color #333
		border-right 1px solid #444

		> li
			position relative

			> a
				text-decoration none
				display inline-block
				width 100%
				height 100%
				padding 15px 30px 20px 40px
				box-sizing border-box
				cursor pointer

				&:hover
					> label
						color #87e7e6

						&:after
							content ' '
							position absolute
							display inline-block
							right 15px
							top 26px
							width 8px
							height 13px
							background url('/img/icn-arrow-blue.png') no-repeat

				> *
					vertical-align top

				> img
					width 30px
					height 30px
					background-color white
					margin-right 15px

				> label
					font-size 24px
					color #aaa
					font-weight 100
					cursor pointer

			&.recent

				> a
					> img
						width 20px
						height 19px
						margin 5px 20px 6px 5px
						background-color transparent

	> .repositories
		flex 1
		background-color #2c2c2c
		border-left 1px solid #000
		padding 0 30px 30px 0

		> li
			width 212px
			height 116px
			box-shadow 0 5px 3px 0 rgba(5, 6, 6, 0.5)
			display inline-block
			vertical-align top
			margin 30px 0 0 30px

			> a
				text-decoration none
				display inline-block
				width 100%
				height 100%
				font-weight 100
				color #666
				background-color #fff
				cursor pointer

				&:hover
					box-shadow inset 0 -5px 0 0 #87e7e6

				> img
					width 100%
					height 60px

				> label
					margin 5px 10px 0 8px
					font-size 18px
					display block
					cursor pointer

				> span
					margin 0 0 0 8px
					font-size 12px
					display block

			&.add

				> button
					background center no-repeat url('/img/icn-add.png'), #444
					width 100%
					height 100%
					border-width 0
					border-top 1px solid #121212
					font-size 0
