.navigation.primary
  background-color #5A2876
  position fixed
  top 0
  right 0
  width 100vw
  height 100vh
  max-width 270px
  > ul
    margin 0
    padding 10px 0 0 0
    list-style none
    transform scale(0.75) translateX(0)
    transform-origin right center
    // opacity 0
    transition-duration 0.25s
    transition-timing-function ease-in-out
    transition-property transform, opacity
    > li
      > a,
      > button
        display block
        text-align left
        width 100%
        height 100%
        text-decoration none
        font-size 18px
        color white
        margin 0
        padding 10px 0 10px 30px
      > button
        appearance none
        border none
        background transparent

#app.navigation-primary-reveal .navigation.primary
  > ul
    transform none
    // opacity 1
