.navigation.sign-in
  margin 20px 0 0 0
  padding 0 20px
  > .github
    background-image url('/img/github.svg')
    background-size 60px
    background-position 10px center
    background-repeat no-repeat
    width 100%
    max-width 320px
    height 63px
    box-sizing border-box
    background-color #74448E
    border-color #5A2876
    border-style solid
    border-width 0 0 3px 0
    border-radius 5px
    padding 0 0 0 80px
    text-align left
    > .action
      display block
      color white
      font-family 'Roboto Slab', serif
      font-size 18px
      font-weight 400
      > b
        font-weight 400
    > .description
      display block
      color #BC9ECC
      font-size 12px
